Repository resonance-logs/resonance-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-frontend, build-backend, deploy-frontend, deploy-backend

build-frontend:
  stage: build
  tags:
  - proxmox-deploy
  script:
  - echo "Building Next.js frontend..."
  - cd "$CI_PROJECT_DIR/app"
  - npm ci
  - echo "NEXT_PUBLIC_API_URL=$NEXT_PUBLIC_API_URL" > .env.production
  - echo "Building for production..."
  - npm run build
  - mkdir -p "$CI_PROJECT_DIR/build-output/frontend"
  ...

build-backend:
  stage: build
  tags:
  - proxmox-deploy
  script:
  - echo "Building Go backend..."
  - cd "$CI_PROJECT_DIR/server"
  - go mod download
  - go mod tidy
  - echo "API_MODE=$API_MODE" > .env
  - go build -o "$CI_PROJECT_DIR/build-output/backend/server"
  artifacts:
    paths:
    - ./build-output/backend/
  cache:
  ...

deploy-frontend:
  stage: deploy
  needs:
  - job: build-frontend
    artifacts: true
  tags:
  - proxmox-deploy
  script:
  - echo "Deploying frontend to LXC 102..."
  - sudo /usr/sbin/pct exec 102 -- systemctl stop frontend.service
  - sudo /usr/sbin/pct push 102 "$CI_PROJECT_DIR/build-output/frontend/" /app --prune
  ...

deploy-backend:
  stage: deploy
  needs:
  - job: build-backend
    artifacts: true
  tags:
  - proxmox-deploy
  script:
  - echo "Deploying backend to LXC 103..."
  - sudo /usr/sbin/pct exec 103 -- systemctl stop go-backend.service
  - sudo /usr/sbin/pct push 103 "$CI_PROJECT_DIR/build-output/backend/server" /app/server
  ...

updated endpoint
  app/src/api/player/player.ts
  app/src/app/profile/dashboard/page.tsx
  app/src/app/profile/page.tsx
  server/controller/player/player.go
  server/routes/groups/player.go
Due: build-frontend, build-backend, deploy-frontend, deploy-backend

Improve the module optimizer to use batched imports
  app/src/app/profile/module-optimizer/page.tsx
Due: build-frontend, deploy-frontend

Updated the batched module import
  app/src/app/module-optimizer/modules/page.tsx
  app/src/app/module-optimizer/page.tsx
  app/src/app/profile/page.tsx
  server/services/module_optimizer/import_service.go
Due: build-frontend, build-backend, deploy-frontend, deploy-backend

log page refactored
  app/src/app/globals.css
  app/src/app/logs/page.tsx
  app/src/app/profile/my-logs/page.tsx
  app/src/app/statistics/totals/page.tsx
  app/src/components/logs/AdvancedEncounterFilters.tsx
  app/src/components/ui/EncounterTable.tsx
Due: build-frontend, deploy-frontend

more updates for log pages
  README.md
  app/src/api/statistics/statistics.ts
  app/src/app/statistics/classes/page.tsx
  image.png
  server/controller/statistics/statistics.go
Due: build-frontend, build-backend, deploy-frontend, deploy-backend

readme
  README.md
Due: none

Update the module optimizer style
  app/src/app/module-optimizer/page.tsx
  app/src/components/module-optimizer/ModuleOptimizerAuthGate.tsx
  app/src/components/module-optimizer/ModuleSyncStatus.tsx
  app/src/components/module-optimizer/OptimizationControls.tsx
  app/src/components/module-optimizer/OptimizationResults.tsx
  app/src/types/moduleOptimizer.ts
  server/controller/module_optimizer/optimize.go
Due: build-frontend, build-backend, deploy-frontend, deploy-backend

readme
  README.md
  app/README.md
Due: build-frontend, deploy-frontend

revert
  app/src/api/statistics/statistics.ts
  app/src/app/statistics/classes/page.tsx
  server/controller/statistics/statistics.go
Due: build-frontend, build-backend, deploy-frontend, deploy-backend

Removed the history page from the module optimizer
  app/src/api/module-optimizer/history.ts
  app/src/app/module-optimizer/history/page.tsx
  app/src/app/module-optimizer/modules/page.tsx
  app/src/app/profile/module-optimizer/page.tsx
  app/src/hooks/useModuleOptimizer.ts
Due: build-frontend, deploy-frontend

readme update
  README.md
Due: none

readme updates
  README.md
Due: none

website final
  README.md
  image-1.png
  image-2.png
  image-3.png
Due: none

dps and hps working
  app/src/app/encounter/[id]/page.tsx
  app/src/types/commonTypes.ts
Due: build-frontend, deploy-frontend

Add update notification banner
  app/src/components/landing/HeroSection.tsx
Due: build-frontend, deploy-frontend

player data backend impl
  server/controller/player/player.go
  server/controller/upload/upload.go
  server/models/detailed_player_data.go
  server/routes/groups/player.go
Due: build-backend, deploy-backend

updated getstarted to be more clear and new update notification
  app/src/app/get-started/page.tsx
  app/src/components/landing/HeroSection.tsx
Due: build-frontend, deploy-frontend

updates to hero page
  app/src/components/landing/AnimatedCounter.tsx
  app/src/components/landing/HeroSection.tsx
Due: build-frontend, deploy-frontend

get rid of Openspec
  AGENTS.md
Due: none

Adds a remove background toggle to imrpove reduce cpu usage.
  app/src/app/globals.css
  app/src/app/layout.tsx
  app/src/app/providers.tsx
  app/src/components/all/BackgroundToggle.tsx
  app/src/components/landing/Background.tsx
  app/src/components/landing/CursorGlow.tsx
  app/src/components/landing/OrbField.tsx
  app/src/context/BackgroundContext.tsx
Due: build-frontend, deploy-frontend

optimized bg
  app/src/app/not-found.tsx
  app/src/app/page.tsx
  app/src/app/providers.tsx
  app/src/components/all/BackgroundToggle.tsx
  app/src/components/all/Header.tsx
  app/src/components/landing/Background.tsx
  app/src/components/landing/CursorGlow.tsx
  app/src/components/landing/OrbField.tsx
  app/src/context/BackgroundContext.tsx
Due: build-frontend, deploy-frontend

bg update fixes
  app/src/app/layout.tsx
  app/src/components/landing/Background.tsx
  app/src/context/BackgroundContext.tsx
Due: build-frontend, deploy-frontend

share player
  app/src/api/player/player.ts
  app/src/app/player/[playerId]/page.tsx
  app/src/app/player/page.tsx
  app/src/app/profile/dashboard/page.tsx
  app/src/components/all/Header.tsx
  app/src/components/profile/CharacterOverview.tsx
  app/src/types/commonTypes.ts
Due: build-frontend, deploy-frontend

updated uploading endpoint to take detailed skill stats
  server/controller/upload/upload.go
Due: build-backend, deploy-backend

damage overtime graph
  app/src/api/encounter/encounter.ts
  app/src/app/encounter/[id]/page.tsx
  app/src/components/ui/DpsOverTimeChart.tsx
  app/src/components/ui/SkillStats.tsx
  app/src/data/ActiveSkills.json
  app/src/types/commonTypes.ts
  server/controller/encounter/encounter.go
  server/routes/groups/encounter.go
Due: build-frontend, build-backend, deploy-frontend, deploy-backend

fixed issue with skills
  app/src/components/ui/SkillStats.tsx
Due: build-frontend, deploy-frontend

skills overtime chart
  app/src/app/encounter/[id]/page.tsx
  app/src/components/ui/SkillTimelineChart.tsx
  app/src/data/ActiveSkills.json
Due: build-frontend, deploy-frontend

character overview dungeon init
  app/public/images/scenes/darkmist.png
  app/public/images/scenes/dragonclawvalley.png
  app/src/components/profile/CharacterOverview.tsx
  app/src/data/SceneData.json
  app/src/types/commonTypes.ts
Due: build-frontend, deploy-frontend

added segment uploading and processing to website
  app/src/types/commonTypes.ts
  server/controller/upload/upload.go
  server/migrations/20251123_add_dungeon_segments.sql
  server/migrations/migrate.go
  server/models/dungeon_segment.go
  server/models/encounter.go
Due: build-frontend, build-backend, deploy-frontend, deploy-backend

removed migration
  server/migrations/20251123_add_dungeon_segments.sql
Due: build-backend, deploy-backend

removed phases
  app/src/app/encounter/[id]/page.tsx
  app/src/components/ui/EncounterPhases.tsx
  app/src/types/commonTypes.ts
  server/controller/encounter/encounter.go
  server/controller/upload/upload.go
  server/migrations/migrate.go
  server/models/encounter.go
  server/models/encounter_phase.go
Due: build-frontend, build-backend, deploy-frontend, deploy-backend

segemnts to timeline scrubber
  app/src/app/encounter/[id]/page.tsx
  app/src/components/ui/DpsOverTimeChart.tsx
  server/controller/encounter/encounter.go
Due: build-frontend, build-backend, deploy-frontend, deploy-backend

images for char overview
  app/public/images/scenes/darkdrag.png
  app/public/images/scenes/goblin.png
  app/public/images/scenes/icedrag.png
  app/public/images/scenes/kamina.png
  app/public/images/scenes/lightdrag.png
  app/public/images/scenes/tina.png
Due: build-frontend, deploy-frontend

dungeon data to character overview
  app/public/images/scenes/stimen.png
  app/public/images/scenes/towering.png
  app/src/components/profile/CharacterOverview.tsx
  app/src/data/SceneData.json
Due: build-frontend, deploy-frontend

webp
  app/public/images/scenes/darkdrag.webp
  app/public/images/scenes/darkmist.webp
  app/public/images/scenes/dragonclawvalley.webp
  app/public/images/scenes/goblin.webp
  app/public/images/scenes/icedrag.webp
  app/public/images/scenes/kamina.webp
  app/public/images/scenes/lightdrag.webp
  app/public/images/scenes/stimen.webp
  app/public/images/scenes/tina.webp
  app/public/images/scenes/towering.webp
  app/public/images/scenespng/darkdrag.png
  app/public/images/scenespng/darkmist.png
  app/public/images/scenespng/dragonclawvalley.png
  app/public/images/scenespng/goblin.png
  app/public/images/scenespng/icedrag.png
  app/public/images/scenespng/kamina.png
  app/public/images/scenespng/lightdrag.png
  app/public/images/scenespng/stimen.png
  app/public/images/scenespng/tina.png
  app/public/images/scenespng/towering.png
  app/src/components/profile/CharacterOverview.tsx
  app/src/data/SceneData.json
Due: build-frontend, deploy-frontend

updated time scrubber ui
  app/src/components/ui/DpsOverTimeChart.tsx
Due: build-frontend, deploy-frontend

time scrubber affects tables
  app/src/app/encounter/[id]/page.tsx
  app/src/components/ui/DpsOverTimeChart.tsx
  app/src/components/ui/SkillStats.tsx
  app/src/utils/encounterStats.ts
Due: build-frontend, deploy-frontend

overtime for graphs
  app/src/app/encounter/[id]/page.tsx
  app/src/components/ui/SkillTimelineChart.tsx
  app/src/utils/encounterStats.ts
Due: build-frontend, deploy-frontend

fixed type errors
  app/src/components/ui/SkillStats.tsx
Due: build-frontend, deploy-frontend

Path conditions:
  build-frontend: any of: app/**/*
  build-backend: any of: server/**/*
  deploy-frontend: any of: app/**/*
  deploy-backend: any of: server/**/*
