Repository resonance-logs/resonance-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-frontend, build-backend, deploy-frontend, deploy-backend

.gitlab-ci.yml:

stages:
  - build
  - deploy

# =========================
#  FRONTEND BUILD (Next.js)
# =========================
build-frontend:
  stage: build
  tags:
    - proxmox-deploy
  script:
    - echo "Building Next.js frontend..."
    - cd "$CI_PROJECT_DIR/app"
    # Install dependencies (using clean reproducible install)
    - npm ci
    # Inject environment variables from GitLab CI/CD
    - echo "NEXT_PUBLIC_API_URL=$NEXT_PUBLIC_API_URL" > .env.production
    - echo "Building for production..."
    - npm run build
    # Copy the built app to a known output directory
    - mkdir -p "$CI_PROJECT_DIR/build-output/frontend"
    - cp -r .next package.json next.config.* public "$CI_PROJECT_DIR/build-output/frontend/"
  artifacts:
    paths:
      - ./build-output/frontend/
  cache:
    key: frontend-${CI_COMMIT_REF_SLUG}
    paths:
      - app/node_modules/
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - app/**/*

# =========================
#  BACKEND BUILD (Go)
# =========================
build-backend:
  stage: build
  tags:
    - proxmox-deploy
  script:
    - echo "Building Go backend..."
    - cd "$CI_PROJECT_DIR/server"
    # Cache Go dependencies
    - go mod download
    - go mod tidy
    # Inject environment variables if needed
    - echo "API_MODE=$API_MODE" > .env
    # Build the binary
    - go build -o "$CI_PROJECT_DIR/build-output/backend/server"
  artifacts:
    paths:
      - ./build-output/backend/
  cache:
    key: backend-${CI_COMMIT_REF_SLUG}
    paths:
      - /go/pkg/mod
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - server/**/*

# =========================
#  FRONTEND DEPLOYMENT
# =========================
deploy-frontend:
  stage: deploy
  needs:
    - job: build-frontend
      artifacts: true
  tags:
    - proxmox-deploy
  script:
    - echo "Deploying frontend to LXC 102..."
    # 1. Stop frontend service
    - sudo /usr/sbin/pct exec 102 -- systemctl stop frontend.service
    # 2. Push the built files into the LXC
    - sudo /usr/sbin/pct push 102 "$CI_PROJECT_DIR/build-output/frontend/" /app --prune
    # 3. Set permissions
    - sudo /usr/sbin/pct exec 102 -- chmod -R 755 /app
    # 4. Restart service
    - sudo /usr/sbin/pct exec 102 -- systemctl start frontend.service
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - app/**/*

# =========================
#  BACKEND DEPLOYMENT
# =========================
deploy-backend:
  stage: deploy
  needs:
    - job: build-backend
      artifacts: true
  tags:
    - proxmox-deploy
  script:
    - echo "Deploying backend to LXC 103..."
    # 1. Stop backend service
    - sudo /usr/sbin/pct exec 103 -- systemctl stop go-backend.service
    # 2. Push compiled binary into LXC
    - sudo /usr/sbin/pct push 103 "$CI_PROJECT_DIR/build-output/backend/server" /app/server
    # 3. Ensure correct permissions
    - sudo /usr/sbin/pct exec 103 -- chmod +x /app/server
    # 4. Start backend service
    - sudo /usr/sbin/pct exec 103 -- systemctl start go-backend.service
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - server/**/*

skill pie chart immpl
  app/src/api/statistics/statistics.ts
  app/src/app/statistics/skill-damage-breakdown/page.tsx
  app/src/components/all/Header.tsx
  app/src/utils/classData.ts
  server/controller/statistics/skill_breakdown.go
  server/main.go
  server/routes/groups/statistics.go
Due: build-frontend, build-backend, deploy-frontend, deploy-backend

updates to models to have more data + skill breakdown fix
  server/controller/statistics/skill_breakdown.go
  server/models/actor_encounter_stat.go
  server/models/attempt.go
  server/models/damage_skill_stat.go
  server/models/death_event.go
  server/models/detailed_player_data.go
  server/models/encounter.go
  server/models/encounter_boss.go
  server/models/encounter_buff.go
  server/models/encounter_owner.go
  server/models/entity.go
  server/models/heal_skill_stat.go
Due: build-backend, deploy-backend

added logging
  server/controller/upload/upload.go
Due: build-backend, deploy-backend

fixed sqlq logger
  server/db/conn.go
Due: build-backend, deploy-backend

skill page refactor
  app/src/app/statistics/skill-damage-breakdown/page.tsx
Due: build-frontend, deploy-frontend

piie chart
  app/src/app/encounter/[id]/page.tsx
  app/src/app/profile/my-log/[id]/page.tsx
  app/src/components/ui/PlayerSkillBreakdownChart.tsx
Due: build-frontend, deploy-frontend

discord embed for player page
  app/src/app/player/[playerId]/client.tsx
  app/src/app/player/[playerId]/opengraph-image.tsx
  app/src/app/player/[playerId]/page.tsx
  app/src/components/profile/CharacterOverview.tsx
Due: build-frontend, deploy-frontend

maybe fix for embed
  app/src/app/player/[playerId]/opengraph-image.tsx
  app/src/app/player/[playerId]/page.tsx
Due: build-frontend, deploy-frontend

Revert "maybe fix for embed"
  app/src/app/player/[playerId]/client.tsx
  app/src/app/player/[playerId]/opengraph-image.tsx
  app/src/app/player/[playerId]/page.tsx
Due: build-frontend, deploy-frontend

Revert "discord embed for player page"
  app/src/app/player/[playerId]/opengraph-image.tsx
  app/src/app/player/[playerId]/page.tsx
  app/src/components/profile/CharacterOverview.tsx
Due: build-frontend, deploy-frontend

updates character overview text
  app/src/components/profile/CharacterOverview.tsx
Due: build-frontend, deploy-frontend

Rearrange badge links in README.md
  README.md
Due: none

Reorder and update badge links in README
  README.md
Due: none

Add api key checking endpoint
  server/controller/auth/auth.go
  server/routes/groups/auth.go
Due: build-backend, deploy-backend

Refactored the log dedupe process and added party matching.
  server/controller/upload/upload.go
  server/lib/dedupe.go
Due: build-backend, deploy-backend

uploaded at fixed
  app/src/app/profile/my-log/[id]/page.tsx
Due: build-frontend, deploy-frontend

fixed my encouner
  server/controller/encounter/my_encounter.go
Due: build-backend, deploy-backend

scroll to top
  app/src/app/leaderboard/encounter/page.tsx
  app/src/app/leaderboard/player/page.tsx
Due: build-frontend, deploy-frontend

refactored the detailed playerdata data handling and added region_id
  server/controller/upload/player_data.go
  server/controller/upload/player_metadata.go
  server/controller/upload/upload.go
  server/models/detailed_player_data.go
Due: build-backend, deploy-backend

inital master mode # attempt
  app/src/components/ui/EncounterTableEntry.tsx
  app/src/data/MasterModeBossHpData.json
Due: build-frontend, deploy-frontend

using scenedata for max hp
  app/src/components/ui/EncounterTableEntry.tsx
  app/src/data/SceneData.json
Due: build-frontend, deploy-frontend

boss
  app/src/components/ui/EncounterTableEntry.tsx
Due: build-frontend, deploy-frontend

scene name validation
  server/controller/upload/upload.go
Due: build-backend, deploy-backend

added scene validation v2
  server/controller/upload/upload.go
Due: build-backend, deploy-backend

api endpoints hax maxhp filtering now
  app/src/api/encounter/encounter.ts
  server/controller/encounter/encounter.go
  server/controller/encounter/my_encounter.go
Due: build-frontend, build-backend, deploy-frontend, deploy-backend

mm # detection updated
  app/src/data/SceneData.json
Due: build-frontend, deploy-frontend

mm # detection fix
  app/src/components/ui/EncounterTableEntry.tsx
Due: build-frontend, deploy-frontend

master mode filtering
  app/src/api/encounter/encounter.ts
  app/src/api/player/player.ts
  app/src/api/statistics/statistics.ts
  app/src/app/encounter/[id]/page.tsx
  app/src/app/entities/page.tsx
  app/src/app/leaderboard/encounter/page.tsx
  app/src/app/leaderboard/player/page.tsx
  app/src/app/logs/page.tsx
  app/src/app/profile/my-log/[id]/page.tsx
  app/src/app/profile/my-logs/page.tsx
  app/src/app/statistics/classes/page.tsx
  app/src/app/statistics/skill-damage-breakdown/page.tsx
  app/src/components/logs/AdvancedEncounterFilters.tsx
  app/src/components/ui/Filter.tsx
  app/src/components/ui/SceneFilterDropdown.tsx
  app/src/data/MasterModeBossHpData.json
  server/controller/player/player.go
  server/controller/statistics/statistics.go
Due: build-frontend, build-backend, deploy-frontend, deploy-backend

type fix
  app/src/api/encounter/encounter.ts
  app/src/api/player/player.ts
  app/src/api/statistics/statistics.ts
Due: build-frontend, deploy-frontend

changed encounter table entry to link
  app/src/components/ui/EncounterTableEntry.tsx
Due: build-frontend, deploy-frontend

added loader
  app/package-lock.json
  app/package.json
  app/src/app/layout.tsx
Due: build-frontend, deploy-frontend

update landing page
  app/package-lock.json
  app/package.json
  app/src/components/landing/HeroSection.tsx
Due: build-frontend, deploy-frontend

Added market data handling
  server/controller/market/market_controller.go
  server/migrations/migrate.go
  server/models/market_data.go
  server/routes/api.go
  server/routes/groups/market.go
Due: build-backend, deploy-backend

Added support for batch uploads of market data. Supports scenarios where there is a singular ItemID but multiple listings.
  server/controller/market/market_controller.go
Due: build-backend, deploy-backend

Raise ability score limit to 70,000 for leaderboard
  server/controller/entity/cache.go
Due: build-backend, deploy-backend
