Repository resonance-logs/resonance-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-frontend, build-backend, deploy-frontend, deploy-backend

build-frontend:
  stage: build
  script:
  - echo "Building Next.js..."
  - nixpacks build ./app --name frontend-build --out ./build-output/frontend
  artifacts:
    paths:
    - ./build-output/frontend/

build-backend:
  stage: build
  script:
  - echo "Building Go backend..."
  - nixpacks build ./server --name backend-build --out ./build-output/backend
  artifacts:
    paths:
    - ./build-output/backend/start.cmd

deploy-frontend:
  stage: deploy
  needs:
  - build-frontend
  tags:
  - proxmox-deploy
  script:
  - echo "Deploying Next.js to LXC (e.g., 102)..."
  - sudo pct exec 102 -- systemctl stop frontend.service
  - sudo pct push 102 ./build-output/frontend/ /app --prune
  - sudo pct exec 102 -- systemctl start frontend.service

deploy-backend:
  stage: deploy
  needs:
  - build-backend
  tags:
  - proxmox-deploy
  script:
  - echo "Deploying Go backend to LXC (e.g., 105)..."
  - pct exec 103 -- systemctl stop go-backend.service
  - pct push 103 ./build-output/backend/start.cmd /app/server
  - pct exec 103 -- chmod +x /app/server
  ...

Add proxmox-deploy tags to build jobs in CI configuration
  .gitlab-ci.yml
Due: none

Refactor CI configuration for frontend and backend builds and deployments
  .gitlab-ci.yml
Due: none

db migraiton updates
  .gitignore
  app/src/components/all/Header.tsx
  server/db/conn.go
  server/go.mod
  server/migrations/migrate.go
Due: build-frontend, build-backend, deploy-frontend, deploy-backend

switch proxmox-host to deploy
  .gitlab-ci.yml
Due: none

fix frontend deploy
  .gitlab-ci.yml
Due: none

remove CI configuration for frontend and backend builds and deployments
  .gitlab-ci.yml
Due: none

removed garbage frontend changes
  app/src/components/landing/HeroSection.tsx
  app/src/components/ui/TableRowGlow.tsx
  server/db/conn.go
Due: build-frontend, build-backend, deploy-frontend, deploy-backend

removed messed up icon
  app/src/components/all/Header.tsx
Due: build-frontend, deploy-frontend

Possible Redis implementation in Go
  server/cache/interface.go
  server/cache/redis_cache.go
  server/controller/encounter/encounter.go
  server/controller/upload/upload.go
  server/go.mod
  server/go.sum
  server/main.go
Due: build-backend, deploy-backend

reddis impl
  server/go.mod
  server/go.sum
  server/main.go
  server/middleware/redis.go
  server/routes/groups/encounter.go
Due: build-backend, deploy-backend

log page
  app/src/app/logs/page.tsx
Due: build-frontend, deploy-frontend

updated frontend routing + hopefully top10 player works
  app/src/app/profile/dashboard/page.tsx
  app/src/app/profile/my-logs/page.tsx
  app/src/components/all/Header.tsx
  server/controller/player/player.go
  server/routes/api.go
  server/routes/groups/player.go
Due: build-frontend, build-backend, deploy-frontend, deploy-backend

Update gitignore
  .gitignore
Due: none

Module optimizer integration with desktop app
  app/src/api/module-optimizer/import.ts
  app/src/app/module-optimizer/modules/page.tsx
  app/src/app/module-optimizer/page.tsx
  app/src/components/module-optimizer/ModuleList.tsx
  app/src/components/module-optimizer/ModuleSourceBadge.tsx
  app/src/components/module-optimizer/ModuleSyncStatus.tsx
  app/src/types/moduleOptimizer.ts
  server/controller/module_optimizer/backfill.go
  server/controller/module_optimizer/builds.go
  server/controller/module_optimizer/history.go
  server/controller/module_optimizer/import.go
  server/controller/module_optimizer/modules.go
  server/controller/module_optimizer/optimize.go
  server/middleware/middleware.go
  server/migrations/20251112140000_add_module_source_field.go
  server/migrations/migrate.go
  server/models/module.go
  server/routes/groups/module_optimizer.go
  server/services/module_optimizer/config.go
  server/services/module_optimizer/import_service.go
Due: build-frontend, build-backend, deploy-frontend, deploy-backend

Module optimizer now works
  server/controller/module_optimizer/backfill.go
Due: build-backend, deploy-backend

Addeed more descriptive error handling for the module optimizer page.
  app/src/api/module-optimizer/import.ts
  app/src/api/module-optimizer/index.ts
  app/src/components/module-optimizer/ModuleSyncStatus.tsx
Due: build-frontend, deploy-frontend

updated player api
  server/controller/player/player.go
  server/db/conn.go
  server/middleware/redis.go
Due: build-backend, deploy-backend

basic player implementation
  app/src/api/player/player.ts
  app/src/app/leaderboard/player/page.tsx
  app/src/components/all/Header.tsx
  app/src/utils/classData.ts
  package-lock.json
  package.json
Due: build-frontend, deploy-frontend

player page ui updated
  app/src/api/player/player.ts
  app/src/app/leaderboard/player/page.tsx
  server/controller/player/player.go
Due: build-frontend, build-backend, deploy-frontend, deploy-backend

Update gitignore to exclude openspec directories.
  .gitignore
Due: none

fixed skeleton
  app/src/app/leaderboard/player/page.tsx
Due: build-frontend, deploy-frontend

update gitignore to have speckit
  .gitignore
Due: none

logs implementation
  app/src/app/leaderboard/player/page.tsx
  app/src/app/logs/page.tsx
  app/src/components/ui/EncounterTable.tsx
Due: build-frontend, deploy-frontend

Removed the redundant import modules button and export modules button
  app/src/app/module-optimizer/modules/page.tsx
  app/src/components/module-optimizer/ModuleList.tsx
Due: build-frontend, deploy-frontend

Added encounter phases, Mob phase and boss phase. both linked to the encounter.
  AGENTS.md
  app/src/app/encounter/[id]/page.tsx
  app/src/components/ui/EncounterPhases.tsx
  app/src/types/commonTypes.ts
  server/controller/encounter/encounter.go
  server/controller/upload/upload.go
  server/migrations/20251113000001_add_encounter_phases.go
  server/migrations/migrate.go
  server/models/encounter.go
  server/models/encounter_phase.go
Due: build-frontend, build-backend, deploy-frontend, deploy-backend

statstics page ugly
  app/package-lock.json
  app/package.json
  app/src/api/statistics/statistics.ts
  app/src/app/statistics/totals/page.tsx
  app/src/components/all/Header.tsx
  app/src/components/landing/HeroSection.tsx
  app/src/utils/classData.ts
  server/controller/statistics/statistics.go
  server/routes/api.go
  server/routes/groups/statistics.go
Due: build-frontend, build-backend, deploy-frontend, deploy-backend

Translated the module optimizer modules from Chinese to English.
  server/services/module_optimizer/config.go
Due: build-backend, deploy-backend

Added class stats page.
  app/src/app/statistics/classes/WhiskerPlot.tsx
  app/src/app/statistics/classes/components/BoxPlot.tsx
  app/src/app/statistics/classes/components/LoadingSkeleton.tsx
  app/src/app/statistics/classes/components/PlotHeader.tsx
  app/src/app/statistics/classes/components/PlotLegend.tsx
  app/src/app/statistics/classes/components/PlotRow.tsx
  app/src/app/statistics/classes/constants.ts
  app/src/app/statistics/classes/index.ts
  app/src/app/statistics/classes/page.tsx
  app/src/app/statistics/classes/utils.ts
  app/src/components/all/Header.tsx
  app/src/components/ui/SceneFilterDropdown.tsx
Due: build-frontend, deploy-frontend

getstartedpage
  app/public/discord-icon.svg
  app/src/app/get-started/page.tsx
  app/src/app/statistics/totals/page.tsx
  app/src/components/all/Header.tsx
  app/src/components/landing/HeroSection.tsx
Due: build-frontend, deploy-frontend

ui updates
  app/src/api/statistics/statistics.ts
  app/src/app/logs/page.tsx
  app/src/app/profile/dashboard/page.tsx
  app/src/app/statistics/classes/page.tsx
  app/src/components/all/Header.tsx
  app/src/components/all/NavDropdown.tsx
  server/controller/statistics/statistics.go
Due: build-frontend, build-backend, deploy-frontend, deploy-backend

statitstic updated for landing page
  app/src/api/statistics/statistics.ts
  app/src/components/landing/HeroSection.tsx
  server/controller/statistics/statistics.go
Due: build-frontend, build-backend, deploy-frontend, deploy-backend

updates for header getstarted
  app/src/app/profile/dashboard/page.tsx
  app/src/components/all/Header.tsx
Due: build-frontend, deploy-frontend

Add userid to detailed_playerdata
  app/src/types/commonTypes.ts
  server/controller/module_optimizer/backfill.go
  server/controller/upload/upload.go
  server/migrations/20251115000001_add_user_id_to_detailed_playerdata.go
  server/migrations/migrate.go
  server/models/detailed_player_data.go
Due: build-frontend, build-backend, deploy-frontend, deploy-backend

added license
  LICENSE
Due: none

scuffed dashboard page
  app/next.config.ts
  app/src/api/player/player.ts
  app/src/app/overview/page.tsx
  app/src/app/profile/dashboard/page.tsx
  app/src/data/AoyiSkillName.json
  app/src/data/SkillIcon.json
  app/src/types/commonTypes.ts
  server/controller/player/player.go
  server/migrations/20251112013248_create_module_optimizer_tables.go
  server/migrations/20251112140000_add_module_source_field.go
  server/migrations/20251113000001_add_encounter_phases.go
  server/migrations/20251115000001_add_user_id_to_detailed_playerdata.go
  server/migrations/migrate.go
  server/routes/groups/player.go
Due: build-frontend, build-backend, deploy-frontend, deploy-backend

cleaned up code + types
  app/src/app/profile/dashboard/page.tsx
  app/src/data/AoyiSkillName.json
  app/src/types/commonTypes.ts
Due: build-frontend, deploy-frontend

refactor ui for dashboard
  app/src/app/profile/dashboard/page.tsx
  app/src/components/all/Header.tsx
Due: build-frontend, deploy-frontend

profile page done
  app/src/app/profile/dashboard/page.tsx
  app/src/components/all/Header.tsx
  app/src/components/landing/GlassCard.tsx
Due: build-frontend, deploy-frontend

Path conditions:
  build-frontend: any of: app/**/*
  build-backend: any of: server/**/*
  deploy-frontend: any of: app/**/*
  deploy-backend: any of: server/**/*
