Repository resonance-logs/resonance-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-frontend, build-backend, deploy-frontend, deploy-backend

build-frontend:
  stage: build
  tags:
  - proxmox-deploy
  script:
  - echo "Building Next.js frontend..."
  - cd "$CI_PROJECT_DIR/app"
  - npm ci
  - echo "NEXT_PUBLIC_API_URL=$NEXT_PUBLIC_API_URL" > .env.production
  - echo "Building for production..."
  - npm run build
  - mkdir -p "$CI_PROJECT_DIR/build-output/frontend"
  ...

build-backend:
  stage: build
  tags:
  - proxmox-deploy
  script:
  - echo "Building Go backend..."
  - cd "$CI_PROJECT_DIR/server"
  - go mod download
  - go mod tidy
  - echo "API_MODE=$API_MODE" > .env
  - go build -o "$CI_PROJECT_DIR/build-output/backend/server"
  artifacts:
    paths:
    - ./build-output/backend/
  cache:
  ...

deploy-frontend:
  stage: deploy
  needs:
  - job: build-frontend
    artifacts: true
  tags:
  - proxmox-deploy
  script:
  - echo "Deploying frontend to LXC 102..."
  - sudo /usr/sbin/pct exec 102 -- systemctl stop frontend.service
  - sudo /usr/sbin/pct push 102 "$CI_PROJECT_DIR/build-output/frontend/" /app --prune
  ...

deploy-backend:
  stage: deploy
  needs:
  - job: build-backend
    artifacts: true
  tags:
  - proxmox-deploy
  script:
  - echo "Deploying backend to LXC 103..."
  - sudo /usr/sbin/pct exec 103 -- systemctl stop go-backend.service
  - sudo /usr/sbin/pct push 103 "$CI_PROJECT_DIR/build-output/backend/server" /app/server
  ...

populate with discord data
  app/src/types/commonTypes.ts
  server/controller/encounter/encounter.go
  server/models/actor_encounter_stat.go
Due: build-frontend, build-backend, deploy-frontend, deploy-backend

Updated table row name
  app/src/app/profile/page.tsx
Due: build-frontend, deploy-frontend

in log display
  app/src/api/customization/customization.ts
  app/src/app/encounter/[id]/page.tsx
  app/src/app/profile/page.tsx
  app/src/components/ui/EncounterTableRow.tsx
  app/src/components/ui/EncounterTableRowCustomization.ts
  app/src/types/commonTypes.ts
  server/controller/customization/customization.go
Due: build-frontend, build-backend, deploy-frontend, deploy-backend

removed hide bg out of header
  app/src/app/profile/page.tsx
  app/src/components/all/Header.tsx
Due: build-frontend, deploy-frontend

kofi in header
  app/public/icons/kofi_symbol.png
  app/src/app/profile/page.tsx
  app/src/components/all/Header.tsx
  app/src/components/ui/EncounterTableRow.tsx
Due: build-frontend, deploy-frontend

anonymous theming
  app/src/components/ui/EncounterTableRow.tsx
  server/controller/encounter/encounter.go
Due: build-frontend, build-backend, deploy-frontend, deploy-backend

Extend deduping while allowing duplicate encounters/logs
  server/controller/upload/upload.go
  server/lib/hash.go
  server/lib/hash_test.go
Due: build-backend, deploy-backend

added some basic user count tracking
  server/controller/tracking/tracking.go
  server/migrations/migrate.go
  server/models/app_user.go
  server/routes/api.go
  server/routes/groups/tracking.go
Due: build-backend, deploy-backend

Buff uploading
  server/controller/upload/upload.go
  server/migrations/migrate.go
  server/models/encounter.go
  server/models/encounter_buff.go
Due: build-backend, deploy-backend

all player
  app/src/api/customization/customization.ts
  app/src/api/entity/entity.ts
  app/src/app/entities/page.tsx
  app/src/app/profile/page.tsx
  app/src/components/all/Header.tsx
  app/src/types/commonTypes.ts
  server/controller/customization/customization.go
  server/controller/entity/cache.go
  server/controller/entity/entity.go
  server/main.go
  server/middleware/redis.go
  server/routes/api.go
  server/routes/groups/entity.go
Due: build-frontend, build-backend, deploy-frontend, deploy-backend

nextjs error
  app/src/app/entities/page.tsx
Due: build-frontend, deploy-frontend

frontend error
  app/src/app/entities/page.tsx
Due: build-frontend, deploy-frontend

added total
  app/src/app/entities/page.tsx
Due: build-frontend, deploy-frontend

updates to entities page
  app/src/api/entity/entity.ts
  app/src/app/entities/page.tsx
  server/controller/entity/cache.go
  server/controller/entity/entity.go
Due: build-frontend, build-backend, deploy-frontend, deploy-backend

updates to ui
  app/src/app/entities/page.tsx
  app/src/app/profile/page.tsx
  app/src/components/ui/LeaderboardRow.tsx
Due: build-frontend, deploy-frontend

updates filter ui
  app/src/app/entities/page.tsx
Due: build-frontend, deploy-frontend

increase buff limits
  server/controller/upload/upload.go
Due: build-backend, deploy-backend

Allow multiple log owners
  app/src/types/commonTypes.ts
  server/controller/encounter/encounter.go
  server/controller/upload/upload.go
  server/lib/dedupe.go
  server/migrations/migrate.go
  server/models/encounter.go
  server/models/encounter_owner.go
Due: build-frontend, build-backend, deploy-frontend, deploy-backend

Fix multi-owner uploads
  server/controller/upload/upload.go
Due: build-backend, deploy-backend

buff impl
  app/src/api/encounter/encounter.ts
  app/src/app/encounter/[id]/page.tsx
  app/src/types/commonTypes.ts
  server/controller/encounter/encounter.go
Due: build-frontend, build-backend, deploy-frontend, deploy-backend

added some additional scene validity checking
  app/src/data/SceneName.json
  server/controller/upload/scene_validation.go
  server/controller/upload/upload.go
Due: build-frontend, build-backend, deploy-frontend, deploy-backend

Fix the location of SceneName json
  server/controller/upload/scene_validation.go
  server/data/SceneName.json
Due: build-backend, deploy-backend

hardcode scene names
  server/controller/upload/scene_validation.go
Due: build-backend, deploy-backend

modal for supporter
  app/package-lock.json
  app/package.json
  app/src/api/auth/auth.ts
  app/src/app/providers.tsx
  app/src/components/all/SupporterNotificationProvider.tsx
  app/src/components/all/SupporterThankYouModal.tsx
  server/controller/auth/auth.go
  server/controller/kofi/kofi.go
  server/models/user.go
Due: build-frontend, build-backend, deploy-frontend, deploy-backend

removed slow sql logging
  server/db/conn.go
Due: build-backend, deploy-backend

bugfix for all player table
  server/controller/entity/entity.go
Due: build-backend, deploy-backend

updated sloww sql
  server/db/conn.go
Due: build-backend, deploy-backend

a lot
  app/src/api/encounter/encounter.ts
  app/src/api/player/player.ts
  app/src/app/leaderboard/encounter/page.tsx
  app/src/app/leaderboard/player/page.tsx
  app/src/app/logs/page.tsx
  app/src/app/profile/my-log/[id]/page.tsx
  app/src/app/profile/my-logs/page.tsx
  app/src/components/logs/AdvancedEncounterFilters.tsx
  app/src/components/ui/EncounterTableEntry.tsx
  app/src/types/commonTypes.ts
  server/controller/encounter/encounter.go
  server/controller/encounter/my_encounter.go
  server/controller/player/player.go
  server/middleware/redis.go
  server/routes/api.go
  server/routes/groups/encounter.go
  server/routes/groups/my_encounter.go
Due: build-frontend, build-backend, deploy-frontend, deploy-backend

add suspense
  app/src/app/logs/page.tsx
Due: build-frontend, deploy-frontend

fix encounter & advanced filters
  app/src/components/logs/AdvancedEncounterFilters.tsx
  server/controller/encounter/encounter.go
  server/models/encounter_owner.go
Due: build-frontend, build-backend, deploy-frontend, deploy-backend

Add localplayerid to encounter_owners
  app/src/types/commonTypes.ts
  server/controller/upload/upload.go
  server/models/encounter_owner.go
Due: build-frontend, build-backend, deploy-frontend, deploy-backend

leaderboard stuff + fixed encounter c oowner query
  app/src/api/customization/customization.ts
  app/src/app/leaderboard/encounter/page.tsx
  app/src/app/leaderboard/player/page.tsx
  app/src/app/profile/page.tsx
  app/src/types/commonTypes.ts
  server/controller/customization/customization.go
  server/controller/player/player.go
Due: build-frontend, build-backend, deploy-frontend, deploy-backend

update ui for customization
  app/src/app/profile/page.tsx
Due: build-frontend, deploy-frontend

add id from users table to entities user_id
  app/src/api/entity/entity.ts
  app/src/types/commonTypes.ts
  server/controller/entity/cache.go
  server/controller/upload/upload.go
  server/models/entity.go
Due: build-frontend, build-backend, deploy-frontend, deploy-backend

classdata refactor
  app/src/api/statistics/statistics.ts
  app/src/app/statistics/classes/WhiskerPlot.tsx
  app/src/app/statistics/classes/components/ApexBoxPlot.tsx
  app/src/app/statistics/classes/components/BoxPlot.tsx
  app/src/app/statistics/classes/utils.ts
  server/controller/statistics/statistics.go
Due: build-frontend, build-backend, deploy-frontend, deploy-backend

fixed error
  app/src/app/statistics/classes/index.ts
Due: build-frontend, deploy-frontend

revert cache
  server/controller/entity/cache.go
Due: build-backend, deploy-backend

fix error
  app/src/app/statistics/classes/components/PlotRow.tsx
Due: build-frontend, deploy-frontend

hardcoded caching
  server/controller/entity/cache.go
Due: build-backend, deploy-backend

Add local_player_id to entities table
  server/controller/upload/upload.go
  server/models/entity.go
Due: build-backend, deploy-backend

Path conditions:
  build-frontend: any of: app/**/*
  build-backend: any of: server/**/*
  deploy-frontend: any of: app/**/*
  deploy-backend: any of: server/**/*
