Repository resonance-logs/resonance-website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-frontend, build-backend, deploy-frontend, deploy-backend

.gitlab-ci.yml:

stages:
  - build
  - deploy

# =========================
#  FRONTEND BUILD (Next.js)
# =========================
build-frontend:
  stage: build
  tags:
    - proxmox-deploy
  script:
    - echo "Building Next.js frontend..."
    - cd "$CI_PROJECT_DIR/app"
    # Install dependencies (using clean reproducible install)
    - npm ci
    # Inject environment variables from GitLab CI/CD
    - echo "NEXT_PUBLIC_API_URL=$NEXT_PUBLIC_API_URL" > .env.production
    - echo "Building for production..."
    - npm run build
    # Copy the built app to a known output directory
    - mkdir -p "$CI_PROJECT_DIR/build-output/frontend"
    - cp -r .next package.json next.config.* public "$CI_PROJECT_DIR/build-output/frontend/"
  artifacts:
    paths:
      - ./build-output/frontend/
  cache:
    key: frontend-${CI_COMMIT_REF_SLUG}
    paths:
      - app/node_modules/
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - app/**/*

# =========================
#  BACKEND BUILD (Go)
# =========================
build-backend:
  stage: build
  tags:
    - proxmox-deploy
  script:
    - echo "Building Go backend..."
    - cd "$CI_PROJECT_DIR/server"
    # Cache Go dependencies
    - go mod download
    - go mod tidy
    # Inject environment variables if needed
    - echo "API_MODE=$API_MODE" > .env
    # Build the binary
    - go build -o "$CI_PROJECT_DIR/build-output/backend/server"
  artifacts:
    paths:
      - ./build-output/backend/
  cache:
    key: backend-${CI_COMMIT_REF_SLUG}
    paths:
      - /go/pkg/mod
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - server/**/*

# =========================
#  FRONTEND DEPLOYMENT
# =========================
deploy-frontend:
  stage: deploy
  needs:
    - job: build-frontend
      artifacts: true
  tags:
    - proxmox-deploy
  script:
    - echo "Deploying frontend to LXC 102..."
    # 1. Stop frontend service
    - sudo /usr/sbin/pct exec 102 -- systemctl stop frontend.service
    # 2. Push the built files into the LXC
    - sudo /usr/sbin/pct push 102 "$CI_PROJECT_DIR/build-output/frontend/" /app --prune
    # 3. Set permissions
    - sudo /usr/sbin/pct exec 102 -- chmod -R 755 /app
    # 4. Restart service
    - sudo /usr/sbin/pct exec 102 -- systemctl start frontend.service
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - app/**/*

# =========================
#  BACKEND DEPLOYMENT
# =========================
deploy-backend:
  stage: deploy
  needs:
    - job: build-backend
      artifacts: true
  tags:
    - proxmox-deploy
  script:
    - echo "Deploying backend to LXC 103..."
    # 1. Stop backend service
    - sudo /usr/sbin/pct exec 103 -- systemctl stop go-backend.service
    # 2. Push compiled binary into LXC
    - sudo /usr/sbin/pct push 103 "$CI_PROJECT_DIR/build-output/backend/server" /app/server
    # 3. Ensure correct permissions
    - sudo /usr/sbin/pct exec 103 -- chmod +x /app/server
    # 4. Start backend service
    - sudo /usr/sbin/pct exec 103 -- systemctl start go-backend.service
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - server/**/*

fixed website dps and heal columns
  app/src/app/encounter/[id]/page.tsx
  app/src/components/landing/CTASection.tsx
  app/src/components/ui/DpsOverTimeChart.tsx
  app/src/components/ui/SkillTimelineChart.tsx
  app/src/utils/encounterStats.ts
Due: build-frontend, deploy-frontend

Added client version processing
  app/src/types/commonTypes.ts
  server/controller/upload/upload.go
  server/migrations/2025-11-24-000029_add_encounter_client_version/down.sql
  server/migrations/2025-11-24-000029_add_encounter_client_version/up.sql
  server/models/encounter.go
Due: build-frontend, build-backend, deploy-frontend, deploy-backend

filtered uploading
  server/controller/upload/upload.go
Due: build-backend, deploy-backend

small landing page fix
  app/src/components/landing/AnimatedCounter.tsx
  app/src/components/landing/HeroSection.tsx
  app/src/components/landing/StatCard.tsx
Due: build-frontend, deploy-frontend

updated log page to only try fetching once
  app/src/app/encounter/[id]/page.tsx
Due: build-frontend, deploy-frontend

removed garbage
  server/controller/module_optimizer/backfill.go
  server/controller/module_optimizer/builds.go
  server/controller/module_optimizer/history.go
  server/controller/module_optimizer/import.go
  server/controller/module_optimizer/modules.go
  server/controller/module_optimizer/optimize.go
  server/routes/groups/module_optimizer.go
  server/services/module_optimizer/cache.go
  server/services/module_optimizer/calculator.go
  server/services/module_optimizer/config.go
  server/services/module_optimizer/import_service.go
  server/services/module_optimizer/modules_service.go
  server/services/module_optimizer/optimizer.go
Due: build-backend, deploy-backend

removed more garbage
  server/models/module.go
  server/models/module_part.go
  server/models/optimization_result.go
  server/models/saved_build.go
Due: build-backend, deploy-backend

frontend module optimizer deleted
  app/src/api/module-optimizer/builds.ts
  app/src/api/module-optimizer/history.ts
  app/src/api/module-optimizer/import.ts
  app/src/api/module-optimizer/index.ts
  app/src/api/module-optimizer/modules.ts
  app/src/api/module-optimizer/optimize.ts
  app/src/app/module-optimizer/builds/page.tsx
  app/src/app/module-optimizer/history/page.tsx
  app/src/app/module-optimizer/modules/page.tsx
  app/src/app/module-optimizer/page.tsx
  app/src/components/module-optimizer/ModuleImport.tsx
  app/src/components/module-optimizer/ModuleList.tsx
  app/src/components/module-optimizer/ModuleOptimizerAuthGate.tsx
  app/src/components/module-optimizer/ModuleSourceBadge.tsx
  app/src/components/module-optimizer/ModuleSyncStatus.tsx
  app/src/components/module-optimizer/OptimizationControls.tsx
  app/src/components/module-optimizer/OptimizationResults.tsx
Due: build-frontend, deploy-frontend

Switch from batched uploading to single
  server/controller/upload/upload.go
Due: build-backend, deploy-backend

Require minimum app version to upload logs
  server/controller/upload/upload.go
Due: build-backend, deploy-backend

remove double declaration of fmt
  server/controller/upload/upload.go
Due: build-backend, deploy-backend

removed more old module files
  app/src/hooks/useModuleOptimizer.ts
  app/src/types/moduleOptimizer.ts
Due: build-frontend, deploy-frontend

removed caching on protected endpoints
  server/routes/groups/player.go
Due: build-backend, deploy-backend

Decoupled playerdata from encounters
  server/controller/upload/player_data.go
  server/routes/groups/upload.go
Due: build-backend, deploy-backend

added cascade deleting
  app/src/types/commonTypes.ts
  server/migrations/2025-11-24-000029_add_encounter_client_version/down.sql
  server/migrations/2025-11-24-000029_add_encounter_client_version/up.sql
  server/models/encounter.go
Due: build-frontend, build-backend, deploy-frontend, deploy-backend

updated default scene to floating island
  app/src/app/leaderboard/encounter/page.tsx
  app/src/app/leaderboard/player/page.tsx
Due: build-frontend, deploy-frontend

added logging
  server/controller/upload/upload.go
Due: build-backend, deploy-backend

Remove valid boss check from log file uploads
  server/controller/upload/upload.go
Due: build-backend, deploy-backend

Added link to latest version in version mismatch response
  server/controller/upload/upload.go
Due: build-backend, deploy-backend

chunked insertion to db
  server/controller/upload/upload.go
Due: build-backend, deploy-backend

batched insertion for all dbs
  server/controller/upload/upload.go
Due: build-backend, deploy-backend

privacy settings
  app/src/api/auth/auth.ts
  app/src/api/settings/settings.ts
  app/src/app/encounter/[id]/page.tsx
  app/src/app/leaderboard/encounter/page.tsx
  app/src/app/profile/page.tsx
  app/src/components/ui/EncounterTable.tsx
  app/src/components/ui/UploaderAvatar.tsx
  app/src/types/commonTypes.ts
  server/controller/auth/auth.go
  server/controller/encounter/encounter.go
  server/controller/settings/settings.go
  server/models/user.go
  server/routes/api.go
  server/routes/groups/encounter.go
  server/routes/groups/settings.go
Due: build-frontend, build-backend, deploy-frontend, deploy-backend

removed reddis caching on encounter
  server/routes/groups/encounter.go
Due: build-backend, deploy-backend

update min version req
  server/controller/upload/upload.go
Due: build-backend, deploy-backend

log-validation
  app/src/app/leaderboard/encounter/page.tsx
  server/controller/upload/upload.go
Due: build-frontend, build-backend, deploy-frontend, deploy-backend

module-exclusion-impl
  app/src/app/profile/modules/page.tsx
  app/src/utils/moduleOptimizer.ts
Due: build-frontend, deploy-frontend

skill timeline update
  app/src/components/ui/SkillTimelineChart.tsx
Due: build-frontend, deploy-frontend

kofi integration
  server/controller/kofi/kofi.go
  server/models/user.go
  server/routes/api.go
  server/routes/groups/kofi.go
Due: build-backend, deploy-backend

updates to encounter [id] page
  AGENTS.md
  MODULE_USER_GUIDE.md
  app/src/app/encounter/[id]/page.tsx
Due: build-frontend, deploy-frontend

refactored encounter table
  app/src/app/profile/page.tsx
  app/src/components/ui/EncounterTable.tsx
  app/src/components/ui/EncounterTableEntry.tsx
Due: build-frontend, deploy-frontend

increased avatar size
  app/src/components/ui/EncounterTableEntry.tsx
Due: build-frontend, deploy-frontend

added uploader indication
  app/src/app/encounter/[id]/page.tsx
Due: build-frontend, deploy-frontend

encounter table entry customization
  app/public/images/themes/sakura-tree.gif
  app/src/api/auth/auth.ts
  app/src/api/customization/customization.ts
  app/src/app/profile/page.tsx
  app/src/components/ui/EncounterTableEntry.tsx
  app/src/types/commonTypes.ts
  server/controller/auth/auth.go
  server/controller/customization/customization.go
  server/controller/encounter/encounter.go
  server/models/user.go
  server/routes/api.go
  server/routes/groups/customization.go
Due: build-frontend, build-backend, deploy-frontend, deploy-backend

removed 5th theme
  app/src/app/profile/page.tsx
  app/src/components/ui/EncounterTableEntry.tsx
  app/src/types/commonTypes.ts
Due: build-frontend, deploy-frontend

themeing impl finish
  app/public/images/themes/cyberpunk.gif
  app/public/images/themes/shooting-star-anime.gif
  app/public/images/themes/sunset.png
  app/src/app/globals.css
  app/src/components/ui/EncounterTableEntry.tsx
  app/src/types/commonTypes.ts
  server/controller/customization/customization.go
Due: build-frontend, build-backend, deploy-frontend, deploy-backend
